<a href="https://colab.research.google.com/github/ReinaChi/Data-Preprocessing/blob/main/Data_Preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Data** **Preprocessing**

Attached to this notebook is a dataset.



1.   Import the dataset into your notebook, print out the first 10 rows, check the statistical and general information

In [1]:
import pandas as pd
import numpy as np

In [6]:
df = pd.read_csv(r'/content/hepatitis.csv', sep=",")
print(df)

     age     sex steroid  antivirals  ... albumin protime histology class
0     30    male   False       False  ...     4.0     NaN     False  live
1     50  female   False       False  ...     3.5     NaN     False  live
2     78  female    True       False  ...     4.0     NaN     False  live
3     31  female     NaN        True  ...     4.0    80.0     False  live
4     34  female    True       False  ...     4.0     NaN     False  live
..   ...     ...     ...         ...  ...     ...     ...       ...   ...
150   46  female    True       False  ...     3.3    50.0      True   die
151   44  female    True       False  ...     4.3     NaN      True  live
152   61  female   False       False  ...     4.1     NaN      True  live
153   53    male   False       False  ...     4.1    48.0      True  live
154   43  female    True       False  ...     3.1    42.0      True   die

[155 rows x 20 columns]

In [7]:
df.head(10)

   age     sex steroid  antivirals  ... albumin protime histology class
0   30    male   False       False  ...     4.0     NaN     False  live
1   50  female   False       False  ...     3.5     NaN     False  live
2   78  female    True       False  ...     4.0     NaN     False  live
3   31  female     NaN        True  ...     4.0    80.0     False  live
4   34  female    True       False  ...     4.0     NaN     False  live
5   34  female    True       False  ...     4.0    75.0     False  live
6   51  female   False       False  ...     NaN     NaN     False   die
7   23  female    True       False  ...     NaN     NaN     False  live
8   39  female    True       False  ...     4.4     NaN     False  live
9   30  female    True       False  ...     3.9     NaN     False  live

[10 rows x 20 columns]


2.   Check for the sum of the missing values and the percentage of missing values.

In [8]:
df.isnull().sum()

age                 0
sex                 0
steroid             1
antivirals          0
fatigue             1
malaise             1
anorexia            1
liver_big          10
liver_firm         11
spleen_palpable     5
spiders             5
ascites             5
varices             5
bilirubin           6
alk_phosphate      29
sgot                4
albumin            16
protime            67
histology           0
class               0
dtype: int64



3. Choose one option: Drop the columns with missing values or fill the columns with missing values. Give your reasons.

In [12]:
to_drop = ["protime", "alk_phosphate", "liver_firm", "albumin", "liver_big"]

df.drop(to_drop, axis = 1)

     age     sex steroid  antivirals  ... bilirubin   sgot histology class
0     30    male   False       False  ...       1.0   18.0     False  live
1     50  female   False       False  ...       0.9   42.0     False  live
2     78  female    True       False  ...       0.7   32.0     False  live
3     31  female     NaN        True  ...       0.7   52.0     False  live
4     34  female    True       False  ...       1.0  200.0     False  live
..   ...     ...     ...         ...  ...       ...    ...       ...   ...
150   46  female    True       False  ...       7.6  242.0      True   die
151   44  female    True       False  ...       0.9  142.0      True  live
152   61  female   False       False  ...       0.8   20.0      True  live
153   53    male   False       False  ...       1.5   19.0      True  live
154   43  female    True       False  ...       1.2   19.0      True   die

[155 rows x 15 columns]

i decided to drop columns (protime, alk_phosphate, liver_firm, albumin, liver_big) bearing in mind the result i want to achieve and also the subject matter (Hepatitis). Columns(alk_phosphate, liver_big, albumin) are key enzymes indicators via blood test and palpation/scan visual in determining an healthy liver thus filling in values would not give me the desired result whereas columns(protime, liver_firm) would not really influence the desired result thus it was dropped.



4. Choose a column and rename it. Give your reasons for picking that column

In [10]:
df.rename(columns={'ascites': 'inflammation'}, inplace=True)
df.head()

   age     sex steroid  antivirals  ... albumin protime histology class
0   30    male   False       False  ...     4.0     NaN     False  live
1   50  female   False       False  ...     3.5     NaN     False  live
2   78  female    True       False  ...     4.0     NaN     False  live
3   31  female     NaN        True  ...     4.0    80.0     False  live
4   34  female    True       False  ...     4.0     NaN     False  live

[5 rows x 20 columns]

I decided to change column ascites to inflammation because i feel ascites is ambiguous relating to the data set and that inflammation is relatable and understanding.



6. Check the number of missing values after cleaning and state the impact on data analysis.

In [11]:
df.isnull().sum()

age                 0
sex                 0
steroid             1
antivirals          0
fatigue             1
malaise             1
anorexia            1
liver_big          10
liver_firm         11
spleen_palpable     5
spiders             5
inflammation        5
varices             5
bilirubin           6
alk_phosphate      29
sgot                4
albumin            16
protime            67
histology           0
class               0
dtype: int64

The impact of missing data after it has been cleaned can't be overlooked because

*   it limits chances of achieving the desired result as values of these columns are missing thus they maybe dropped or filled up 
*   it also can lead to invalid conclusions thus more time spent trying to get the desired outcome via various alternatives.
*   it can reduce the statistcal power of the study
*   it reduces the representativeness of the sample and can therefore distort inferences about the population.